<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
  <h1 class="text-center">Tasks List</h1>
  <div class="container">
    <form method="POST" action="/tasks">
      <div class="row">
        <input class="form-control col mx-2" name="name">
        <input class="btn btn-primary col-2 mx-2" type="submit" value="Add">
      </div>
    </form>

    <div class="row">
      <ul class="list-group col m-4">
        {{#each tasks as |task|}}
          <li class="list-group-item">
            {{task.name}}
          </li>
        {{/each}}
      </ul>
    </div>

  </div>
</body>
</html>
